@import './reset.css';

.detail_box {
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 50px;
}
.detail_title{
  font-size: 30px;
  color: pink;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  margin-bottom: 20px;
}
.card_input{
  border: 3px solid pink;
  border-radius: 5px;
  padding: 50px 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.card_input input {
  margin-left: 10px;
}
.card_input p {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 20px;
  color: pink;
  text-shadow: 1px 1px 1px rgb(175, 174, 174);
  font-size: 14px;
  font-weight: 600;
}
.card_input p:last-child{
  margin-bottom: 0;
}
.card_input input {
  border: none;
  border: pink 2px solid;
  border-radius: 10px;
  width: 80%;
  height: 30px;
  padding-left: 15px;
  box-sizing: border-box;
}
.btn_box{ 
  display: flex;
  justify-content: center;
}
.btn{
  width: 120px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: pink;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-shadow: 1px 1px 1px gray;
}
.btn:first-child {
  margin-right: 20px;
}